* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/font.css);

.pricing__table {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.pricing__title {
  font-family: "Khula";
  font-weight: 700;
  font-style: normal;
  font-size: 38px;
  line-height: 45px;
  color: #161d25;
  margin-bottom: 11px;
}

.pricing__subtitle {
  font-family: "Khula";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #5d7085;
  margin-bottom: 68px;
}

.pricing__container {
  display: flex;
  gap: 6px;
}

.pricing__items {
    display: flex;
    width: 100%;
    padding-top: 72px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 36px;
}

.pricing__item {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pricing__item-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pricing__item-title {
  font-family: "Khula";
  font-weight: 600;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  margin-bottom: 5px;
  margin-top: 14.7px;
}

.pricing__item-subtitle {
  font-family: "Khula";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 27px;
}

.pricing__item-price {
  font-family: "Khula";
  font-weight: 700;
  font-size: 67px;
  line-height: 79px;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 20px;
}

.pricing__item-dollar {
  font-family: "Khula";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.pricing__item-cover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 121px;
    height: 100%;
}

.pricing__item-list {
  font-family: "Khula";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.pricing__item-button {
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-family: "Khula";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;

}

.pricing__items_personal {
  background: linear-gradient(180deg, #fdc624 0%, #e6c434 99.36%);
  border-radius: 2px;
}

.pricing__items_business {
  background: linear-gradient(180deg, #55dce7 0%, #3dcad4 100%);
  border-radius: 2px;
}

.pricing__items_developer {
  background: linear-gradient(180deg, #6bdfff 0%, #3dacfc 100%);
  border-radius: 2px;
}

.pricing__items_agency {
  background: linear-gradient(180deg, #bfcedc 0%, #939fb3 100%);
  border-radius: 2px;
}

.pricing__item-button_active {
  background: #ffffff;
  border-radius: 3px;
  color: #44A9FD;
}


